In [58]:
import pandas as pd

In [59]:
vine_df = pd.read_csv("vine_table.csv")
vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R10005TITYMOJ5,3.0,4.0,5.0,N,N
1,R100067IA892TU,1.0,6.0,10.0,N,N
2,R10007RNO9WYT7,5.0,1.0,1.0,N,N
3,R10009AZ4DJC3G,5.0,4.0,5.0,N,Y
4,R10009GDNRFOAC,5.0,1.0,1.0,N,N

In [60]:
# Filter the data and create a new DataFrame to retrieve all the rows where the total_votes count 
# is equal to or greater than 20:

filtered_vine_df = vine_df[vine_df['total_votes'] >= 20]
filtered_vine_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
12,R1000IP7OT9CZE,5.0,27.0,28.0,N,Y
14,R1000KXYTPQYWR,1.0,4.0,36.0,N,N
33,R1001GYCBZ0GAF,1.0,7.0,39.0,N,N
82,R10035AOO4DF3W,5.0,50.0,50.0,N,Y
94,R1003M3VBH6RVE,5.0,24.0,24.0,N,N

In [61]:
# Filter the new DataFrame created in Step 1 and create a new DataFrame to retrieve all the rows 
# where the number of helpful_votes divided by total_votes is equal to or greater than 50%:

filtered_df = filtered_vine_df[(filtered_vine_df['helpful_votes'] / filtered_vine_df['total_votes']) >= 0.5]
filtered_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
12,R1000IP7OT9CZE,5.0,27.0,28.0,N,Y
82,R10035AOO4DF3W,5.0,50.0,50.0,N,Y
94,R1003M3VBH6RVE,5.0,24.0,24.0,N,N
134,R1005HR0KXVW7V,4.0,36.0,40.0,N,N
168,R1006QDN3AEBNC,5.0,22.0,22.0,N,N

In [62]:
# Filter the DataFrame created in Step 2 and create a new DataFrame that retrieves all the rows 
# where a review was written as part of the Vine program (paid):

paid_df = filtered_df[filtered_df['vine'] == 'Y']
paid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
146862,R1482JAU1ZR7QH,4.0,15.0,22.0,Y,N
573302,R1GGYGVTHP84DG,4.0,25.0,27.0,Y,N
696168,R1JZ0JAPW83WFS,4.0,54.0,58.0,Y,N
1166768,R1XH7EA97FAVP7,3.0,35.0,44.0,Y,N
3666615,R4V3ICFDTIDIF,4.0,20.0,21.0,Y,N

In [63]:
# Repeat Step 3, but this time retrieve all the rows where the review was not part of the Vine program (unpaid):

unpaid_df = filtered_df[filtered_df['vine'] == 'N']
unpaid_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
12,R1000IP7OT9CZE,5.0,27.0,28.0,N,Y
82,R10035AOO4DF3W,5.0,50.0,50.0,N,Y
94,R1003M3VBH6RVE,5.0,24.0,24.0,N,N
134,R1005HR0KXVW7V,4.0,36.0,40.0,N,N
168,R1006QDN3AEBNC,5.0,22.0,22.0,N,N

In [64]:
# Determine the total number of reviews, the number of 5-star reviews, and the percentage of 5-star reviews for 
# the two types of review (paid vs unpaid):

paid_reviews_count = paid_df['review_id'].count()
paid_reviews_count

7

In [65]:
unpaid_reviews_count = unpaid_df['review_id'].count()
unpaid_reviews_count

105979

In [66]:
paid_5star_reviews = paid_df[paid_df['star_rating'] == 5]['review_id'].count()
paid_5star_reviews

0

In [67]:
unpaid_5star_reviews = unpaid_df[unpaid_df['star_rating'] == 5]['review_id'].count()
unpaid_5star_reviews

67580

In [68]:
paid_5star_percent = (paid_5star_reviews / paid_reviews_count) * 100
paid_5star_percent

0.0

In [69]:
unpaid_5star_percent = (unpaid_5star_reviews / unpaid_reviews_count) * 100
unpaid_5star_percent

63.767350135404186